.css-cveggr-MuiListItemIcon-root {
   min-width: 34px!important
}
.css-1ef5f8k-MuiListItem-root{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding-left: 46px!important;
    padding-right:46px!important;
}
.css-6i39ye-MuiToolbar-root {
    padding-left: 46px!important;
    padding-right: 0px!important;
}